<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.OrdersDao" >

    <select id="findAllOrders" resultType="goods">
        select *
        from ordergoods
    </select>

    <select id="findOrdersByUserId" parameterType="java.lang.Integer" resultType="goods">
        select * from ordergoods
        where userId = #{userId}
    </select>


</mapper>